body{
    background-image: none;
}

ul{
    list-style: none;
}

.hide{
    display: none;
}


.focus{
    background-color: black;
    color: white;
}

/*  ------------------ Header ------------------  */
header{
    display: flex;
    height: 9vh;
    padding: 3vh 5vw;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.3);

}
.icon{
    height: 5vh;
    width: 5vh;
    border: 1px solid;
    border-color: rgb(179, 179, 179);
    border-radius: 1vh;
    padding: 0.5vh;
}

.btnAddClient{
    cursor: pointer;
}

.logout-box{
    cursor: pointer;
}

/*  ------------------ Article ------------------  */

article{
    padding-top: 3vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 91vh;
}


.btns-sillas{
    display: flex;
    gap: 2vw;
}

.btn-silla{
    border-radius: 7%;
    border: solid 1px rgb(10, 10, 10);
    padding: 1vh;
    cursor: pointer;

}



.plq-div{
    display: flex;
    flex-direction: column;
    height: 91vh;
    align-items: center;
    gap: 2vh;
    margin-top: 2vh;
    position: relative;
}


/*  CAJA PARA INDICAR APERTURA O CIERRE  */
.top-plq{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.open-box{
    border : 1px solid rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 3px;
    border-radius: 80px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

#outer-circle{
    height: 23px;
    width: 23px;
    /*border : 1px solid rgba(0,0,0,0.4);*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.25s;

}

#inner-circle{
    height: 15px;
    width: 15px;
    /*border : 1px solid rgba(0,0,0,0.4);*/
    border-radius: 50%;
    transition: background-color 0.25s;
}

.green-outer{

    background-color: rgba(3, 213, 81, 0.3);
}

.red-outer{
    background-color: rgba(213, 0, 0, 0.43);
}

.green-inner{
    background-color: rgba(171,255,202,1);
}

.red-inner{
    background-color: rgba(255, 65, 65, 1);
}
#open-text{
    font-size: 20px;
}
/*--------------------------------------------*/



.turno-box{
    display: flex;
    gap: 2vw;
}

.turno-text{
    font-size: 4vh;
}

.turno{
    font-size: 4vh;
}

.list-client-box{
    height: 59vh;
    width: 80vw;
    
}

.buttons-updown-box{
    display: flex;
    gap: 15vw;
}

.button-downturn, .button-upturn{
    background-color: transparent;
    height: 5.5vh;
    width: 5.5vh;
    font-size: 1.5vh;
    cursor: pointer;
    border: solid 0.2vh #000000;
    border-radius: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.line{
    width: 60%;
    height: 7%;
    background-color: #000000;
    
}

.line-vertical::after{
    content: " ";
    width: 60%;
    height: 7%;
    background-color: #000000;
    transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    right: 19%;
    
}





.list-client-ul{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 3%;
    overflow: scroll;
    height: 100%;
    align-items: center;
}

li{
    list-style: none;
    display: flex;
    
}

.list-client-li{
    border: 1px solid black;
    border-radius: 1vw;
    padding: 1vh;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    transition: width 0.3s;
}

.ACTUAL{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
}

.li_client-information{
    display: inline-flex;
    gap: 5%;
    width: 50%;
}



.cliente-name-div, .cliente-nturno-div{
    font-size: 2vh;
}

.decline-client-button, .desdecline-button{
    height: 4vh;
    width: 4vh;
    border: 1px solid #000000;
    border-radius: 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.arrow1, .arrow2{
    width: 80%;
    height: 10%;
    background-color: #000000;
    position: absolute;
    border-radius: 2px;
    
}

.arrow1{
    rotate: 135deg;
}

.arrow2{
    rotate: 45deg;
}

/*.decline-client-icon{
    height: 3.9vh;
    width: 3.9vh;
}*/

/*   Clientes declinados   */

.buttonSide{
    gap: 2vw;
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-button{
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
    border: 1px solid #000000;
}

.client-text{
    display: inline-block;
    height: auto;
    text-align: center;
}

/* -------- Footer --------  */

/*footer{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 40vh;*/
/*    */
/*}*/

/* Formulario agregar cliente */

.frmContainer, .frmContainer-not-open{
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    color: white;
    top: 0;

}



.frmAddClient{
    gap: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-input-text{
    display: flex;
    flex-direction: column;
}

.p-addclient{
    font-size: 4vh;
}


.input-addclient{
    height: 4vh;
    padding: 8px;
    width: 70vw;
    font-size: 1.2vh;
    border-radius: 0.5vh;
    border-style: solid;
    border-color: white;
}



.btn-addClient{
    background-color: transparent;
    height: 5vh;
    width: 25vw;
    border: 0.5px solid;
    border-color: #ffffff;
    font-size: 2vh;
    cursor: pointer;
    opacity: 100%;
    color: white;
    
}






/* ---------------------- Modular logout ---------------------- */
.logout-screen{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.526);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.logout-card-box{
    height: 30vh;
    width: 70vw;
    background-color: rgb(213, 213, 213);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}

.logout-button-box{
    display: flex;
    align-items: center;
    gap: 2vw;
    
}

.logout-text{
    padding: 5%;
    font-size: 2vh;
}

.logout-no-close, .logout-close{
    width: 30vw;
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.526);
    display: flex;
    border-radius: 0.7vw;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    transition: all 0.5s;
    
}

.logout-no-close:hover{
    background-color: rgba(225, 0, 0, 0.821);
    color: white;
}

.logout-close:hover{
    background-color: rgba(1, 189, 1, 0.688);
    color: white;
}
 /*---------------------------------------------------------*/
.OPASITY30{
    opacity: 30%;
}

.GREEN{
    color: rgba(0, 188, 13, 0.747);
    border-color: rgba(0, 188, 13, 0.747);
}




/*  --- FRM DE AVERTENCIA --- */

.sub-frm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgb(213, 213, 213);
    border-radius: 20px;
    color: black;
    gap: 10px;
    padding: 15px;

}

.not-open-text{
    font-size: 20px;
    font-weight: 400;
}

.not-open-text>span{
    color: red;
}
.ok-button{
    cursor: pointer;
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    background-color: #1e1d1d;
    border-radius: 6px ;
    color: white;
    padding: 8px;


}
