
/* ------ Formulario agregar cliente ------ */

.frmContainer, .frmContainer-not-open{
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    color: black;
    top: 0;
    font-size: 2vh;

}



.frmAddClient{
    gap: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    border-radius: 2vh;
    padding: 2vh;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 12px;
    
}

.box-input-text{
    display: flex;
    flex-direction: column;
}



.input-addclient{

    height: 4vh;
    width: 30vh;
    font-size: 2vh;
    border-radius: 0.5vh;
    padding: 0.5vh;
    border: none;
    box-shadow: var(--box-shadow-var);
    /* border-color: white; */

    /* background-color: rgba(171, 171, 171, 0.3); */
    /* color: #fff; */
}



.input-addclient:focus{
    outline: none;

}

.btn-AddClient-box{
    display: flex;
    gap: 1vh;
    align-items: center;
    
}

.btn-addClient{
    background-color: transparent;
    height: 5vh;
    width: 12vh;
    border: none;
    font-size: 18px;
    cursor: pointer;
    opacity: 100%;
    color: black;

    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-var);
}